# Gunicorn
 gunicorn==22.0.0
 gevent==24.10.1
# LlamaIndex
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.14.5
llama-index-cli==0.5.3
llama-index-core==0.14.6
llama-index-embeddings-huggingface==0.6.1
llama-index-embeddings-openai==0.5.1
llama-index-indices-managed-llama-cloud==0.9.4
llama-index-instrumentation==0.4.2
llama-index-llms-openai==0.6.5
llama-index-readers-file==0.5.4
llama-index-readers-llama-parse==0.5.1
llama-index-vector-stores-chroma==0.5.3
llama-index-workflows==2.8.3
llama-parse==0.6.54
# Pydantic
pydantic==2.12.3
pydantic_core==2.41.4
# ChromaDB
chromadb==0.5.17
# Flask
Flask==3.0.3
Flask-Cors==5.0.0

