.scrollup {
  transform: translatex(150%);
  transition: 0.4s;
}

.scrollup__icon {
  font-size: 1.5rem;
}

/* Show Scroll */
.show-scroll {
  transform: translatex(0%);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .scrollup {
    right: 1.5rem;
    padding: 0.25rem 0.4rem;
  }
  .scrollup__icon {
    font-size: 1.25rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .show-scroll {
    bottom: 6rem;
  }
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
  .scrollup {
    right: 1rem;
  }
}
